/* On show */
.carousel-item.ng-enter {
    position: absolute;
    top: 0;
    bottom:0;

    transform: translateX(-100%);
}

.carousel-item.ng-enter.ng-enter-active {
    transform: translateX(0);
}

/* On hide */
.carousel-item.ng-leave {
    transform: translateX(0);
}

.carousel-item.ng-leave.ng-leave-active {
    transform: translateX(100%);
}
